<html>
<head>
<title><%= data.text %></title>
<style>
    body {
        background-color:lightgray;
      }</style>
</head>
<body>
<h1><a href="index.html">Make New Collage</a></h1>

<marquee direction='down' width='100%' height='100%' behavior='alternate' style='border:0; position: absolute;'><marquee behavior='alternate'><img src="/uploads/<%= data.file.filename %>">
</marquee>
</marquee>
<marquee direction='down' width='100%' height='100%' behavior='alternate' style='border:0; position: absolute;'><marquee behavior='alternate'><p style="color: <%= data.color %>; font-size: <%= data.number %>px">
    <%= data.longtext %>
</p> </marquee>
</marquee>

<marquee direction='down' width='100%' height='100%' behavior='alternate' style='border:0; position: absolute;'><marquee behavior='alternate'><p style="color: <%= data.color %>; font-size: <%= data.number %>px">
    <%= data.text %>
</p> </marquee>
</marquee>

</body>


</html>
